<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="viggo" />
    <title>水马科技 - AI工具平台</title>
    <meta name="keywords" content="UI设计,UI设计素材,设计导航,网址导航,设计资源,创意导航,创意网站导航,设计师网址大全,设计素材大全,设计师导航,UI设计资源,优秀UI设计欣赏,设计师导航,设计师网址大全,设计师网址导航,产品经理网址导航,交互设计师网址导航,shuima.vip">
    <meta name="description" content="WebStack - 收集国内外优秀设计网站、UI设计资源网站、灵感创意网站、素材资源网站，定时更新分享优质产品设计书签。shuima.vip">
    <link rel="shortcut icon" href="/static/images/shuima.png">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="/static/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="/static/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/xenon-core.css">
    <link rel="stylesheet" href="/static/css/xenon-components.css">
    <link rel="stylesheet" href="/static/css/xenon-skins.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?c05bb16ea908292af9f6c513087a1cc3";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- / FB Open Graph -->
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://www.shuima.vip/">
    <meta property="og:title" content="WebStack - 收集国内外优秀设计网站、UI设计资源网站、灵感创意网站、素材资源网站，定时更新分享优质产品设计书签。shuima.vip">
    <meta property="og:description" content="UI设计,UI设计素材,设计导航,网址导航,设计资源,创意导航,创意网站导航,设计师网址大全,设计素材大全,设计师导航,UI设计资源,优秀UI设计欣赏,设计师导航,设计师网址大全,设计师网址导航,产品经理网址导航,交互设计师网址导航,shuima.vip">
    <meta property="og:image" content="assets/images/tubiao.png">
    <meta property="og:site_name" content="WebStack - 收集国内外优秀设计网站、UI设计资源网站、灵感创意网站、素材资源网站，定时更新分享优质产品设计书签。shuima.vip">
    <!-- / Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="WebStack - 收集国内外优秀设计网站、UI设计资源网站、灵感创意网站、素材资源网站，定时更新分享优质产品设计书签。shuima.vip">
    <meta name="twitter:description" content="UI设计,UI设计素材,设计导航,网址导航,设计资源,创意导航,创意网站导航,设计师网址大全,设计素材大全,设计师导航,UI设计资源,优秀UI设计欣赏,设计师导航,设计师网址大全,设计师网址导航,产品经理网址导航,交互设计师网址导航,shuima.vip">
    <meta name="twitter:image" content="/assets/images/shuima.png">
</head>

<body class="page-body boxed-container">
    <nav class="navbar horizontal-menu navbar-fixed-top">
        <div class="navbar-inner">
            <div class="navbar-brand">
                <a href="index" class="logo">
                    <img src="/static/images/tubiao.png" width="100%" alt="" class="hidden-xs">
                    <img src="/static/images/tubiao.png" width="100%" alt="" class="visible-xs">
                </a>
            </div>
            <div class="navbar-mobile-clear"></div>
        </div>
    </nav>
    <div class="page-container">
        <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
        <div class="main-content" style="">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <!-- 关于网站 -->
                        <h3 class="text-gray">关于网站</h3>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <blockquote>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你好！我是冯庆，一个对计算机科学充满热情、在产品管理领域深耕多年的专业人士。我的故事，是一段用技术编织的冒险旅程，它不仅见证了我对技术的探索，也展现了我将想法转变为现实的能力。<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一切开始于一个简单的观察：AI资源在网上散布得如同星星点点，但很难找到一条清晰的路径将它们串联起来。那时，我决定动手打造这样一个路径——一个网站，不仅能汇集各类AI工具和资源，还能提供教程和支持，让每一位访问者都能够轻松地获取他们所需的帮助。
                                            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从构思到实现，我一手包办了整个项目。前端的交互设计、后端的数据处理，再到最终的运营推广，每一步都凝聚了我的努力和智慧。我利用Python和其他编程技能，精确地搭建起网站的架构；我的产品管理经验则让我能够策划和优化用户体验；而最后，我的行动力推动着这个网站走向市场，让它在信息海洋中闪耀光芒。
                                            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在这里，我想与你分享我的旅程，也希望听到你的声音。你的每一个反馈都是对我最真挚的支持，你的每一次访问都是对我工作的肯定。我也期待着与志同道合的伙伴探讨合作机会，因为我深信，通过我们的共同努力，这个网站能够成长为一个更加强大的平台。
                                            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果你有任何建议，或者有令人激动的合作想法，请随时通过以下方式联系我：
                                            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手机号码：17362551976（微信同号）
                                            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在这个快速变化的数字时代，让我们一起携手并进，共同创造属于我们的精彩故事。期待在这条探索之路上与你相遇，一起开启更多的可能性。
                                            <br><p align="right">帅气的冯庆</p>
                                            </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Footer -->
            <footer class="main-footer sticky footer-type-1 fixed">
                <div class="footer-inner">
                    <div class="footer-text">
                        <a>&copy; 2023 - 2024<strong>shuima design by 冯庆。All Rights Reserved. 冯庆 所有</strong></a>
                    </div>
                    <div class="go-up">
                        <a href="#" rel="go-top">
                            <i class="fa-angle-up"></i>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- Bottom Scripts -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/resizeable.js"></script>
    <script src="assets/js/joinable.js"></script>
    <script src="assets/js/xenon-api.js"></script>
    <script src="assets/js/xenon-toggles.js"></script>
    <!-- JavaScripts initializations and stuff -->
    <script src="assets/js/xenon-custom.js"></script>
    <textarea tabindex="-1" style="position: absolute; top: -999px; left: 0px; right: auto; bottom: auto; border: 0px; padding: 0px; box-sizing: content-box; word-wrap: break-word; overflow: hidden; transition: none; height: 0px !important; min-height: 0px !important; font-family: Arimo, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 13px; font-weight: 400; font-style: normal; letter-spacing: 0px; text-transform: none; word-spacing: 0px; text-indent: 0px; line-height: 18.5714px; width: 53px;" class="autosizejs" id="autosizejs"></textarea>
</body>

</html>
